
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.form-signin {
    max-width: 250px;
    margin: 0 auto;
}

.score-recorded {
    display: inline-block;
    color: #1da948;
    margin-left: 10px;
    font-weight: 700;
}

.game {
    width: 100%;
    float: left;
}

.games {
    margin-top: 10px;
}

